---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patterns - Waves</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.9/lib/p5.min.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: left;
        align-items: left;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <script src="/patterns/waves/index.js" is:inline></script>
  </body>
</html>